<div class="input-field">
<fieldset>
	<form>
		<h6>Title:</h6><input type="text" ng-model="task.title">
		<h6>Description:</h6><input type="text" ng-model="task.description">
		<h6>Day of the week:</h6>
		<select ng-model="task.day" class="browser-default">
			<option>Sunday</option>
			<option>Monday</option>
			<option>Tuesday</option>
			<option>Wednesday</option>
			<option>Thursday</option>
			<option>Friday</option>
			<option>Saturday</option>
		</select>
		<h6>Points (1pt. = 5 min):</h6>
		<select ng-model="task.points" class="browser-default">
			<option>0</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
		</select>
	</form>
</fieldset>
</div>
<button id="saveOrSubmit" ng-click="buildNewTask()" ng-show="!saveOrSubmit">Submit</button>
<button id="saveOrSubmit" ng-click="updateTask(Id, task)" ng-show="saveOrSubmit">Save</button>

