<div class="houseOverviewHeading">
<h1><b>{{houseObj.name}}</b></h1>
To add a user send them the following code to use when they first log in: {{currentHouse}}<br>
<a ng-href="#!/allHouseholdTasks" class="waves-effect waves-light btn">Manage Tasks</a>
<!-- <button><a ng-href="#!/userProfile/{{thisUser}}">Edit Profile</a></button> -->
</div>
<br><br><hr>

<div ng-repeat="user in members" class="houseOverviewHeading">
	<h2>{{user.name}}</h2>
	<h4>Points:{{user.points}}</h4>
	<h4 ng-repeat="trophy in user.prizes">Trophies: {{trophy}}</h4>
</div>