<div ng-show="choresDone" class="stealBtn"><a class="waves-effect waves-light btn" ng-click="stealTask()">Steal a Task!</a></div>
<div class="houseOverviewHeading" ng-show="allDone">
<h1><b>"Good Job!! There are no more tasks to be done today!"</b></h1>
</div>
<div class="container">
	<div class="row" ng-repeat="chore in chores">
		<div  class="col">
			<div class="card blue-grey darken-1">
				<div class="card-content " class="center-align">
					<span class="card-title">{{chore.title}}</span>
					<p>{{chore.description}}</p>
					<p>{{chore.day}}</p>
					<p>Points: {{chore.points}}</p>
					<div class="card-action"><a ng-click="deleteDailyTask(chore.points, chore.choreId)">Done!</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
